<% @restaurants.each do |restaurant| %>
<%= link_to restaurant.name, restaurant_path(restaurant) %>

<%= image_tag restaurant.image %>

 <div>
   
   <p>City: <%= restaurant.city %></p>
   <p>Cuisine: <%= restaurant.cuisine %></p>

 </div>

<% end %>
