<% @restaurants.each do |restaurant| %>

<%= link_to restaurant.name, restaurant_path(restaurant) %>

<%= image_tag restaurant.image %>

 <div>

   <p><%= restaurant.city %></p>
   <p><%= restaurant.cuisine %></p>

 </div>

<% end %>
