// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reso_info {
  border: 1px solid;
    margin: 10px;
    text-align: center;
    width: 40%;
    margin-left: 320px;
}

.reso {
  margin-left: 320px;
  text-transform: capitalize;
}

.user_info {
  margin-left: 320px;
  text-transform: capitalize;
}

.account {
  margin-top: 100px;
}
